<div class="row">
	<div class="col-md-2">
		<label>Filtriranje:</label>
	</div>
</div>
<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-5 control-label">
								Naziv dobavljača:
							</label>
							<div class="col-sm-7">
								<input class="form-control" ng-model="invoiceFilter.suplierName"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-5 control-label">
								Adresa dobavljača:
							</label>
							<div class="col-sm-7">
								<input class="form-control" ng-model="invoiceFilter.suplierAddress"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-5 control-label">
								PIB dobavljača:
							</label>
							<div class="col-sm-7">
								<input class="form-control" ng-model="invoiceFilter.supplierPib"></input>
							</div>
						</div><div class="form-group">
							<label for="inputPassword3" class="col-sm-5 control-label">
								Naziv kupca:
							</label>
							<div class="col-sm-7">
								<input class="form-control" ng-model="invoiceFilter.buyerName"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-5 control-label">
								Adresa kupca:
							</label>
							<div class="col-sm-7">
								<input class="form-control" ng-model="invoiceFilter.buyerAddress"></input>
							</div>
						</div>
					</form>	
				</div>
				<div class="col-md-3">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-5 control-label">
								PIB kupca:
							</label>
							<div class="col-sm-7">
								<input class="form-control" ng-model="invoiceFilter.buyerPib"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-5 control-label">
								Broj računa:
							</label>
							<div class="col-sm-7">
								<input class="form-control" ng-model="invoiceFilter.acountNumber"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-5 control-label">
								Datum računa:
							</label>
							<div class="input-group col-sm-7">
								<select ng-model="comparatorDateSelect"  ng-options="value as value.label for value in datecomparators">		 
								</select>
								<input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="invoiceFilterdate" is-open="dateOpened" close-text="Close" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="openDatepicker($event, 'dateOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-5 control-label">
								Vrednost robe:
							</label>
							<div class="col-sm-7">
								<input class="form-control" ng-model="invoiceFilter.totalGoodsValue"></input>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-3">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-5 control-label">
								Vrednost usluga:
							</label>
							<div class="col-sm-7">
								<input class="form-control" ng-model="invoiceFilter.totalServiceValue"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-5 control-label">
								Ukupno robe i usluga:
							</label>
							<div class="col-sm-7">
								<input class="form-control" ng-model="invoiceFilter.totalValue"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-5 control-label">
								Ukupan rabat:
							</label>
							<div class="col-sm-7">
								<input class="form-control" ng-model="invoiceFilter.totalRabate"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-5 control-label">
								Ukupan porez:
							</label>
							<div class="col-sm-7">
								<input class="form-control" ng-model="invoiceFilter.totalTax"></input>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-3">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-5 control-label">
								Oznaka valute:
							</label>
							<div class="col-sm-7">
								<input class="form-control" ng-model="invoiceFilter.currency"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-5 control-label">
								Iznos za uplatu:
							</label>
							<div class="col-sm-7">
								<select ng-model="comparatorAmountSelect"  ng-options="value as value.label for value in comparators">		 
								</select>
								<input class="form-control" ng-model="invoiceFilterAmount"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-5 control-label">
								Uplata na račun:
							</label>
							<div class="col-sm-7">
								<input class="form-control" ng-model="invoiceFilter.paymentAccount"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-5 control-label">
								Datum valute:
							</label>
							<div class="input-group col-sm-7">
								<select ng-model="comparatorCurrencyDateSelect"  ng-options="value as value.label for value in datecomparators">		 
								</select>
								<input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="invoiceFiltercurrencydate" is-open="dateOpened" close-text="Close" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="openDatepicker($event, 'dateOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


<div>
	<table class="table table-striped table-bordered table-condensed table-hover">
		<tr>
			<th>Naziv dobavljača<i id = "sortInvoicesToggle1" class="fa fa-fw fa-sort" ng-click="toggleSortInvoices('suplierName','sortInvoicesToggle1')"></i></th>
			<th>Adresa dobavljača<i id = "sortInvoicesToggle2" class="fa fa-fw fa-sort" ng-click="toggleSortInvoices('suplierAddress','sortInvoicesToggle2')"></i></th>
			<th>PIB dobavljača<i id = "sortInvoicesToggle3" class="fa fa-fw fa-sort" ng-click="toggleSortInvoices('supplierPib','sortInvoicesToggle3')"></i></th>
			<th>Naziv kupca<i id = "sortInvoicesToggle4" class="fa fa-fw fa-sort" ng-click="toggleSortInvoices('buyerName','sortInvoicesToggle4')"></i></th>
			<th>Adresa kupca<i id = "sortInvoicesToggle5" class="fa fa-fw fa-sort" ng-click="toggleSortInvoices('buyerAddress','sortInvoicesToggle5')"></i></th>
			<th>PIB kupca<i id = "sortInvoicesToggle6" class="fa fa-fw fa-sort" ng-click="toggleSortInvoices('buyerPib','sortInvoicesToggle6')"></i></th>
			<th>Broj računa<i id = "sortInvoicesToggle7" class="fa fa-fw fa-sort" ng-click="toggleSortInvoices('acountNumber', 'sortInvoicesToggle7')"></i></th>
			<th>Datum računa<i id = "sortInvoicesToggle8" class="fa fa-fw fa-sort" ng-click="toggleSortInvoices('date', 'sortInvoicesToggle8')"></i></th>
			<th>Vrednost robe<i id = "sortInvoicesToggle9" class="fa fa-fw fa-sort" ng-click="toggleSortInvoices('totalGoodsValue', 'sortInvoicesToggle9')"></i></th>
			<th>Vrednost usluga<i id = "sortInvoicesToggle10" class="fa fa-fw fa-sort" ng-click="toggleSortInvoices('totalServiceValue', 'sortInvoicesToggle10')"></i></th>
			<th>Ukupno<i id = "sortInvoicesToggle11" class="fa fa-fw fa-sort" ng-click="toggleSortInvoices('totalValue', 'sortInvoicesToggle11')"></i></th>
			<th>Ukupan rabat<i id = "sortInvoicesToggle12" class="fa fa-fw fa-sort" ng-click="toggleSortInvoices('totalRabate','sortInvoicesToggle12')"></i></th>
			<th>Ukupan porez<i id = "sortInvoicesToggle13" class="fa fa-fw fa-sort" ng-click="toggleSortInvoices('totalTax','sortInvoicesToggle13')"></i></th>
			<th>Oznaka valute<i id = "sortInvoicesToggle14" class="fa fa-fw fa-sort" ng-click="toggleSortInvoices('currency','sortInvoicesToggle14')"></i></th>
			<th>Iznos za uplatu<i id = "sortInvoicesToggle15" ng-click="toggleSortInvoices('totalAmount','sortInvoicesToggle15')"class="fa fa-fw fa-sort"></i></th>
			<th>Uplata na račun<i id = "sortInvoicesToggle16" ng-click="toggleSortInvoices('paymentAccount','sortInvoicesToggle16')" class="fa fa-fw fa-sort"></i></th>
			<th>Datum valute<i id = "sortInvoicesToggle17" class="fa fa-fw fa-sort"  ng-click="toggleSortInvoices('currencyDate', 'sortInvoicesToggle17')"></i></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<tr ng-repeat="invoice in invoices | filter: invoiceFilter | orderBy:sortBy" ng-if="compare(invoice, 'totalAmount', invoiceFilterAmount, comparatorAmountSelect.label) == true
			&& datecompare(invoice, 'date', invoiceFilterdate, comparatorDateSelect.id) == true &&
			datecompare(invoice, 'currencyDate', invoiceFiltercurrencydate, comparatorCurrencyDateSelect.id) == true" ng-click="showInvoice(invoice)">
			<td>{{invoice.suplierName}}</td>
			<td>{{invoice.suplierAddress}}</td>
			<td>{{invoice.supplierPib}}</td>
			<td>{{invoice.buyerName}}</td>
			<td>{{invoice.buyerAddress}}</td>
			<td>{{invoice.buyerPib}}</td>
			<td>{{invoice.acountNumber}}</td>
			<td>{{invoice.date}}</td>
			<td>{{invoice.totalGoodsValue}}</td>
			<td>{{invoice.totalServiceValue}}</td>
			<td>{{invoice.totalValue}}</td>
			<td>{{invoice.totalRabate}}</td>
			<td>{{invoice.totalTax}}</td>
			<td>{{invoice.currency}}</td>
			<td>{{invoice.totalAmount}}</td>
			<td>{{invoice.paymentAccount}}</td>
			<td>{{invoice.currencyDate}}</td>
			<td><button class="btn" ng-click="showItems(invoice)">Stavke</button></td>
			<td><button class="btn" ng-click="insertOrEditInvoice()">Izmeniti</button></td>
			<td><button class="btn" ng-click="delete()">Obrisati</button></td>
			<td><button class="btn" ng-click="showInvoice(invoice)">Detalji</button></td>
		</tr>
	</table>
	<div>
		<button class="btn" ng-click="insertOrEditInvoice()">Nova faktura</button>
	</div>
</div>